/*projet transportor*/

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  background-size: contain;
  padding-left: 10px;
}

h2 {
  color: darkblue;
}

h4 {
  color: darkblue;
}

h6 {
  color: darkblue;
}

th {
  padding-left: 10px;
}

.box {
  position: relative;
}

#map {
  height: 97%;
  left: 300px;
  margin-right: 300px;
}

#info {
  position: absolute;
  top: 0;
  bottom: 3%;
  left: 0px;
  width: 280px;
}

#copy{
  font-size: 9px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #efefef; /* Grey*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.slide {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* On the right */

.sidenav2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #efefef;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}

.sidenav2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav2 a:hover {
  color: #f1f1f1;
}

.sidenav2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}

/* Bar options */
#chart text {
  fill: #000;
  font: 12px sans-serif;
  text-anchor: initial;
}
#chart {
	border:1px solid #000;
	background-color: #fff;
}

/* D3 bar */
.tooltip {
  position: absolute;
  background-color: #fafafa;
  color: grey;
  border-radius: 10px;
  text-align: center;
  padding: 6px;
  margin-top: -20px;
  pointer-events: none;
}
